<div class="h-screen flex items-center justify-center p-12 py-6">
  <div class="mx-auto w-full max-w-screen-lg px-5 py-10">
    <div class="grid gap-5 md:grid-cols-2 md:gap-10 lg:gap-20">
      <div class="flex items-center">
        <div class="mx-auto md:mx-0">
          <h3 class="text-4xl font-bold text-white">Subscribe</h3>
          <p class="mt-2 max-w-[20rem] text-lg text-white/80">Join our weekly digest. You'll also receive some of our best posts today.</p>
          <form action="" class="mt-4 flex flex-col">
            <input type="email" name="email" id="email" placeholder="Enter your email" class="w-full rounded border border-white/50 bg-transparent px-3 py-2 text-white placeholder:text-white/50 md:max-w-[18rem]" />
            <button type="submit" class="mt-4 w-full max-w-[14rem] rounded bg-white/30 px-14 py-2 text-center text-white">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="justify-center md:justify-end relative w-60 h-60 mx-auto hidden sm:flex">
        <img ngSrc="../../../assets/images/angularGf.webp" alt="angular gif"
        class="object-contain bg-white rounded-[50%] shadow-md shadow-black/30 z-50"
        fill/>
        <img ngSrc="../../../assets/images/angularCli-r.webp" alt="angular cli logo"
        class="object-contain scale-[.8] bg-white rounded-[50%] shadow-md shadow-black/30 translate-x-[30%] z-40"
        fill/>
        <img ngSrc="../../../assets/images/angularMaterial-r.webp" alt="angular materialModule logo"
        class="object-cover scale-[.6] bg-white rounded-[50%] shadow-md shadow-black/30 translate-x-[60%] z-30"
        fill/>
        <img ngSrc="../../../assets/images/httpModule-r.webp" alt="angular httpModule logo"
        class="object-contain scale-[.5] bg-white rounded-[50%] shadow-md shadow-black/30 translate-x-[90%] z-20 hover:z-50 hover:scale-100 duration-300"
        fill/>
      </div>
    </div>
  </div>
</div>
