<div
  id="contact"
  class="h-screen flex items-center justify-center p-12 py-6 max-w-6xl mx-auto md:overflow-x-hidden"
>
  <div class="w-full py-10">
    <div class="grid gap-5 md:grid-cols-2 md:gap-10 lg:gap-20">
      <article class="flex items-center">
        <div class="mx-auto md:mx-0">
          <h3 class="text-4xl font-bold text-white">Contact me</h3>
          <p class="mt-2 max-w-[20rem] text-lg text-white/80">
            Let's develop a project together and share knowledge 🚀🚀🚀
          </p>
          <form
            class="mt-4 flex flex-col"
            (ngSubmit)="sendMail($event, FormContact)"
            autocomplete="off"
            #FormContact="ngForm"
          >
            <input
              class="w-full rounded border border-purple-400 bg-transparent px-3 py-2 text-white placeholder:text-white/50 md:max-w-[18rem] placeholder:text-sm"
              type="text"
              name="message"
              id="message"
              [(ngModel)]="inputValue"
              placeholder="Enter your message and contact"
              required
            />
            <app-btn-form-submit
              [isSubmitting]="FormContact.submitted"
              [isDisabled]="FormContact.invalid || FormContact.submitted"
            />
          </form>
        </div>
      </article>
      <app-noria />
    </div>
  </div>
</div>
