<div class="flex items-center gap-2">
  <button
    (click)="toggleDropdown()"
    type="button"
    class="inline-flex items-center font-medium justify-center gap-2 px-4 py-2 text-sm text-white rounded-lg cursor-pointer hover:bg-purple-100 hover:text-gray-700"
  >
    <img
      class="rounded-[50%]"
      width="20"
      height="20"
      [ngSrc]="flag"
      alt-i18n
      alt="flag icon"
    />
    <span class="hidden sm:block"> {{ defaultLanguage }} </span>
  </button>
  <div
    *ngIf="isViewDropdown"
    class="z-50 absolute top-0 translate-y-2/4 my-4 text-base list-none bg-white/80 divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 u-start-opacity"
  >
    <ul class="py-2 font-medium">
      <li *ngFor="let language of languages">
        <a
          [href]="
            'https://entry-page-angular.vercel.app/' + language.code + '/'
          "
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          <div class="inline-flex items-center gap-2">
            <img
              class="rounded-[50%]"
              width="20"
              height="20"
              [ngSrc]="language.icon"
              alt-i18n
              [alt]="'flag ' + language.name"
            />

            {{ language.name }}
          </div>
        </a>
      </li>
    </ul>
  </div>

</div>
