<article *ngIf="isVisibleLightBox"
  class="fixed inset-0 bg-black grid auto-rows-[10rem_1fr] z-60 opacity-0 pointer-events-none text-white group"
  [ngClass]="{
    'pointer-events-auto': isVisibleLightBox,
    'animate-appearBox': isVisibleLightBox,
  }">
  <header class=" content-center self-center">
    <h3 class="relative block text-2xl sm:text-5xl  md:text-8xl font-bold text-right bg-violet-900/30 backdrop-blur-[.1rem] p-8 after:absolute after:bg-black/10 after:backdrop-blur-[.4rem] after:inset-0 sm:p-8 tracking-widest text-stroke text-transparent text-shadow">
      {{projectData.title }}
    </h3>
  </header>

  <div class="grid gap-4 relative p-4 overflow-auto scrollWidNone">
    <button class="relative bg-close-svg font-black text-xl w-12 h-12 bg-purple-800 bg-min bg-center bg-no-repeat p-2 rounded-md hover:scale-110 active:scale-95 duration-200 border-purple-500 border-[1px] shadow-md shadow-purple-800 justify-self-end"
    type="button"
    aria-label="close lightBox"
    (click)="closeLightBox()"
    >
    </button>

    <div class="grid gap-8 lg:grid-cols-2">
      <app-image-viewer [listImages]="projectData.img"
        [deploy]="projectData.deploy"/>
      <app-description-project [projectData]="projectData"/>
    </div>
  </div>

  <app-iframe-demo *ngIf="isViewIframe"
    [iframeUrl]="projectData.video"
    [iframeTitle]="projectData.title"
    class="bg-[#040404] fixed inset-0 z-60"
  />
</article>
