<section id="projects" class="h-full text-white  text-center max-w-6xl mx-auto">
  <h2 class="text-3xl font-semibold group is-gr py-8">Mis proyectos</h2>

  <div class="grid grid-cols-colResponsive justify-items-center gap-8 p-8">

    <figure class="w-full h-72 relative borde-2 border-dotted border outline-dotted outline-offset-4 outline-1 outline-violet-200 group">
      <div class="overflow-hidden relative w-full h-full  transition-opacity duration-300 opacity-0 group-hover:opacity-100 delay-150">
        <img
        ngSrc="../../../assets/images/How-can-we-help.png" class="scale-150 z-20" fill alt="img">
      </div>
      <figcaption class="absolute inset-0 grid items-center text-xl font-semibold tracking-wide group-hover:z-50 group-hover:bg-gradient-to-t group-hover:from-black to-transparent bg-gradient-to-r duration-200">Help Page</figcaption>
      <app-card-btns />
    </figure>

  </div>
</section>
