<figure class="w-full h-72 relative borde-2 border-dotted border outline-dotted outline-offset-4 outline-1 outline-violet-200 group  hover:border-[.1rem] hover:outline-[.15rem] hover:border-solid hover:outline hover:outline-white hover:border-violet-200 hover:shadow-sm transition-shadow hover:shadow-violet-300">

  <div class="overflow-hidden relative w-full h-full  transition-opacity duration-300 opacity-0 group-hover:opacity-100 delay-150">
    <img *ngIf="project.cover, else errorImg"
    [ngSrc]="project.cover"
    (error)="error(imgError)"
    fill
    class="z-20 object-cover"
    [alt]="project.title">
  </div>
  <figcaption class="absolute text-transparent text-stroke inset-0 grid items-center text-2xl sm:text-3xl font-semibold tracking-wide group-hover:z-50 group-hover:bg-gradient-to-br group-hover:text-transparent group-hover:select-none group-hover:from-purple-950/70 to-transparent duration-200 group-hover:pb-60">
    {{project.title}}
  </figcaption>
  <app-card-btns [project]="project"/>
</figure>

<ng-template #errorImg>
  <p i18n class="absolute top-1/4 text-center w-full z-30 text-black select-none text-lg font-semibold">Image not found</p>
  <img [ngSrc]="imgError"
  class="z-20 aspect-square"
  i18n-alt
  alt="Image not found"
  fill>
</ng-template>
