<section id="banner" class="calcHeight grid place-content-center">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-8xl dark:text-white u-start-fade-out"
      i18n
    >
      See what I can do with Angular ✌️
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 lg:px-48 lg:py-8 dark:text-gray-400"
      i18n
    >
      I invite you to explore my growth at Angular through these mini projects.
      Each project reflects my dedication and learning.
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-8 gap-8"
    >
      @for (btn of btns; track btn.alt; let i = $index) {
      <app-btn-base [btnConfig]="btn">
        @if (i === 0) {
        <app-angular />
        }@else {
        <app-react />
        }
      </app-btn-base>
      }
    </div>
  </div>
</section>
