:host {
  display: contents;
}

.cube {
  --cube-clr: rgba(15, 11, 248, 0.2);
  --cube-border: rgba(0, 132, 255, 0.7);
  --time: 8s;
  display: none;
  perspective: 800px;
	transform-style: preserve-3d;
	width: 50px;
	height: 50px;
	transform: rotateY(45deg);
  animation: cubeRotate linear infinite;
	animation-duration: var(--time);
  cursor: pointer;

  &:hover {
    --time: 3s;
  }

  &:hover .side {
		background-color: rgba(137, 43, 226, 0.2);
		border-color: rgba(137, 43, 226, 0.7);
  }
}

.side{
	transition: background-color linear .2s, border-color linear .2s;
	position: absolute;
	height: 50px;
	width: 50px;
  border: solid 1px var(--cube-border);
}

.side-A{
	background-color:var(--cube-clr);
	transform: translateZ(25px);
}

.side-B{
	background-color:var(--cube-clr);
	transform: translateZ(-25px);
}

.side-C{
	background-color:var(--cube-clr);
	transform: translateY(-25px) rotateX(90deg);
}

.side-D{
	background-color:var(--cube-clr);
	transform: translateY(25px) rotateX(90deg);
}

.side-E{
	background-color:var(--cube-clr);
	transform: translateX(-25px) rotateY(90deg);
}

.side-F{
	background-color:var(--cube-clr);
	transform: translateX(25px) rotateY(90deg);
}

@keyframes cubeRotate {
	0% {
			transform: rotateY(0deg) rotateX(0deg);
		}
	25% {
			transform: rotateY(-180deg) rotateX(-90deg);
		}
	50% {
			transform: rotateY(-390deg) rotateX(-200deg);
		}
	75% {
			transform: rotateY(-560deg) rotateX(-120deg);
		}
	100% {
			transform: rotateY(-720deg) rotateX(0deg);
		}
}

@media screen and (min-width : 40rem) {
  .cube {
    display: block;
  }
}
