<nav
  class="bg-gradient-to-b from-violet-900 via-violet-900 to-black border-gray-200 dark:bg-gray-900/60 backdrop-blur-sm text-white"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="flex items-cente gap-2">
      <div class="hidden sm:block">
        <app-angular [sizes]="{ width: 40, height: 40 }" />
      </div>
      <span class="self-center text-2xl font-semibold whitespace-nowrap" i18n
        >Mini projects</span
      >
    </div>

    <div class="md:order-2 flex gap-2">
      <app-dropdown />
      <button
        type="button"
        (click)="toggleMenu()"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white hover:text-black rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="sr-only" i18n>Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>

    <div
      class="items-center justify-between w-full md:flex md:w-auto md:order-1 hidden"
      [ngClass]="{
        'show-menu' : isViewMenu
      }"
    >
      <ul
        class="flex flex-col gap-4 font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 800 dark:border-gray-700"
      >
        <li>
          <a
            href="#banner"
            class="active w-full block"
            aria-current="page"
            i18n
            (click)="setActiveLink(0)"
            [ngClass]="{
              active: activeLink === 0,
              styleLiChild: true
            }"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#projects"
            i18n
            [class]="styleLiChild"
            (click)="setActiveLink(1)"
            [ngClass]="{
              active: activeLink === 1,
              styleLiChild: true
            }"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="#contact"
            i18n
            [class]="styleLiChild"
            (click)="setActiveLink(2)"
            [ngClass]="{
              active: activeLink === 2,
              styleLiChild: true
            }"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
