<nav
  class="bg-gradient-to-b from-violet-900 via-violet-900 to-black border-gray-200 dark:bg-gray-900/60 backdrop-blur-sm text-white"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="flex items-cente gap-2">
      <app-angular [sizes]="{ width: 40, height: 40 }" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap" i18n
        >Mini projects</span
      >
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-language"
    >
      <ul
        id="listNav"
        class="flex flex-col font-medium text-white p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 gap-1"
      >
        <li>
          <a
            href="#banner"
            class="active"
            aria-current="page"
            i18n
            (click)="setActiveLink(0)"
            [ngClass]="{
              active: activeLink === 0,
              styleLiChild: true
            }"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#projects"
            i18n
            [class]="styleLiChild"
            (click)="setActiveLink(1)"
            [ngClass]="{
              active: activeLink === 1,
              styleLiChild: true
            }"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="#contact"
            i18n
            [class]="styleLiChild"
            (click)="setActiveLink(2)"
            [ngClass]="{
              active: activeLink === 2,
              styleLiChild: true
            }"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <app-dropdown />
  </div>
</nav>
