
<section id="banner" class="calcHeight grid place-content-center">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl dark:text-white">We invest in the world’s potential</h1>
    <p class="mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-8">
        <a href="#projects"
          class="text-white bg-purple-800"
          [class]="btnBase"
          aria-label="Go to Angular Projects">
          My Projects
          <img ngSrc="../../../assets/svg/angular.svg" alt="angular Logo" width="30" height="30">
        </a>
        <a href="#"
          [class]="btnBase"
          class="text-purple-400 disabled:pointer-events-none hover:scale-100 active:scale-100 cursor-not-allowed"
          aria-label="Soon projects react link disabled">
            Coming soon
            <img ngSrc="../../../assets/svg/react.svg" alt="react logo" width="30" height="30">
        </a>
    </div>
  </div>
</section>
