<a
  class="flex gap-2 justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg shadow-purple-800 hover:scale-105 active:scale-95 duration-200 border-purple-500 border-[1px] shadow-md shadow-purple-800'"
  [attr.target]="!btnConfig.redirection.startsWith('#') ? '_blank': null"
  [attr.rel]="!btnConfig.redirection.startsWith('#') ? 'noopener noreferrer': null"
  [attr.aria-label]="btnConfig.alt"
  [title]="btnConfig.alt"
  [href]="btnConfig.redirection"
  [ngClass]="btnConfig.modifier === 'primary' ? btnPrimary : btnSecondary"
>
  {{ btnConfig.text }}
  <ng-content></ng-content>
</a>
