<section
class="relative top-2/4 -translate-y-2/4 px-12">
  <header class="grid justify-between grid-cols-2 py-8">
    <h3>{{iframeTitle}}</h3>
    <button class="relative bg-close-svg font-black text-xl w-12 h-12 bg-purple-800 bg-min bg-center bg-no-repeat p-2 rounded-md hover:scale-110 active:scale-95 duration-200 border-purple-500 border-[1px] shadow-md shadow-purple-800 justify-self-end"
    type="button"
    aria-label="close lightBox"
    title="close lightBox"
    (click)="iframeClose()">
    </button>
  </header>
  <div class="relative pb-[47.291666666666664%] h-auto max-w-5xl mx-auto">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      [src]="sanitizerUrl"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen>
    </iframe>
  </div>
</section>
