/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    width: .9rem;
  }
  body::-webkit-scrollbar-track {
    background-color: #9c9c9c;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: .15rem solid #9c9c9c;
  }
}

@layer utilities {
  .calcHeight {
    height: calc(100dvh - 2.5rem);
  }
}
