/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .calcHeight {
    height: calc(100dvh - 2.5rem);
  }

  .scrollStyle {
    &::-webkit-scrollbar {
      width: .9rem;
    }
    &::-webkit-scrollbar-track {
      background-color: #9c9c9c;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 0, 0);
      border-radius: 20px;
      border: .15rem solid #9c9c9c;
    }
  }

  .scrollWidthMin {
    &::-webkit-scrollbar {
      width: .5rem;
    }
  }
}
