<section id="projects" class="text-white text-center max-w-6xl mx-auto">
  <header class="flex flex-wrap justify-between items-center">
    <h2 class="text-2xl sm:text-3xl font-semibold group py-8 flex sm:justify-between px-8 items-center">
      {{ titleGallery }}
    </h2>

    <app-nav-filter />
  </header>

  <div class="grid grid-cols-colResponsive gap-8 p-8">

    <ng-container *ngIf="(listProjects | async) as projects">
      <app-card-project
        *ngFor="let project of projects"
        [project]="project"
      />

      <div
        class="grid place-content-center h-[70dvh] gap-8"
        *ngIf="!projects ||projects.length <= 0"
      >
        <app-cube3d class="mx-auto"></app-cube3d>
        <p class="font-medium text-xl lg:text-2xl">
          Still no projects 😢
        </p>
      </div>
    </ng-container>

  </div>
</section>

<app-lightbox />
