<div class="flex gap-8 justify-center relative z-50 duration-200 opacity-0 pointer-events-none group-hover:opacity-100 group-hover:-translate-y-10 group-hover:pointer-events-auto">
  <button type="button"
    class="bg-view-svg"
    [class]="btnCard"
    [title]="'View more information of ' + links.name"
    [attr.aria-label]="'View more information of ' + links.name"
    (click)="lightBoxHandler()">
  </button>
  <a class="bg-gitHub-svg"
    [class]="btnCard"
    [href]="links.repositoryLink"
    target="_blank"
    [attr.aria-label]="'go to GitHub ' + links.name"
    [title]="'go to GitHub ' + links.name">
  </a>
  <a class="bg-code-svg"
    [class]="btnCard"
    [href]="links.demoLink"
    target="_blank"
    [attr.aria-label]="'go to demo ' + links.name"
    [title]="'go to demo ' + links.name">
  </a>
</div>
