<div class="flex gap-8 justify-center relative z-50 duration-200 opacity-0 pointer-events-none group-hover:opacity-100 group-hover:-translate-y-10 group-hover:pointer-events-auto">
  <button type="button"
    class="bg-view-svg"
    [class]="btnCard"
    title="view more">
  </button>
  <a class="bg-gitHub-svg"
    [class]="btnCard"
    aria-label="go to gitHub"
    title="go to gitHub">
  </a>
  <a class="bg-code-svg"
    [class]="btnCard"
    title="view demo"
    aria-label="go to demo">
  </a>
</div>
